	@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
	body {
		margin: 0;
		padding: 0;
		background: #0a0a0a;
	}

	.container-jogo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.tela-jogo {
		margin-top: 10px;
		border: solid 3px #04af00;
		max-width: 360px;
		color: #04af00;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: "Press Start 2P";
		font-size: 0.65em;
		padding: 10px;
	}


	.tela-jogo h2{
		text-align: center;
		font-size: 1.55em;
	}

	.controle {
		border: solid 3px #04af00;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-items: center;
		width: 300px;
		font-family: "Press Start 2P";
		padding: 6px;
	}

	.btn-game {
		font-size: 25px;
		border-radius: 5px;
		color: #04af00;
		border: solid 2px #04af00;
		background: #0a0a0a;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
	}

	.btn-game:hover {
		box-shadow: 0 0 4px 0 #04af00;
	}

	.cl {
		margin-right: 30px;
	}






